.container {
  text-align: center;
}

.icon {
  padding-right: 10px
}

.cardTitle {
  margin-top: 20px;
  font-size: 30px
}

.marginBottom {
  margin-top: 20px;
}

.cardSub {
  text-align: center;
  width: 100%;
}